.md3-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  box-shadow: var(--md-sys-elevation-2);
  height: 4rem;
  display: flex;
  align-items: center;
}

.md3-app-bar-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--md-sys-spacing-6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

